@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tabs__tab--selected {
    background: rgb(55, 65, 81) !important;
    color: rgb(96, 165, 250) !important;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(17, 24, 39); 
}

::-webkit-scrollbar-thumb {
    background: rgb(55, 65, 81);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(75, 85, 99); 
}

.animate-in {
    opacity: 1 !important;
    transform: translateY(0) !important;
}